debug.name: app.exe
debug.cflags: -O0 -g
   -fvisibility=hidden
   -fdiagnostics-color=always
   -Wall -Wextra 
   -Wno-unused-parameter 
   -Wno-missing-field-initializers

release.name: app.exe
release.cflags: -O3 -s 
   -fvisibility=hidden
   -fdiagnostics-color=always
   -Wall -Wextra 
   -Wno-unused-parameter 
   -Wno-missing-field-initializers
